[safe]
	directory = /storage/emulated/0/Download/otpnano
	directory = /storage/emulated/0/Download/otpnano
	directory = /storage/emulated/0/Download/otpnano
	directory = /storage/emulated/0/Download/otpnano
	directory = /storage/emulated/0/Download/otpnano
	directory = /storage/emulated/0/Download/otpnano
[user]
	email = editz869@gmail.com
	name = RafaelMods133
